<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}

	<p>User : <strong>{{user.nickname}}</strong></p>

	{% include 'flash.html' %}
	
	<script type="text/javascript">
		$(document).ready(function(){
/*
			$(function() {
				// $('#entityTabs a:first').tab('show');
				$('#entityTabs a[href="#tb{{ _('Lease') }}"]').tab('show');
			});
*/
			
			$(window).resize(function(){
        		$(".fullheight").height($(document).height());
    		});
    		
    		
		});
		
	</script>
	
	<ul class="nav nav-tabs" id="entityTabs">
		<li><a href="#tbHome" data-toggle="tab">Home</a></li>
        <li><a href="#tbLease" data-toggle="tab">{{ _('Leases') }}</a></li>
		<li class ="active"><a href="#tbTank" data-toggle="tab">Tank Batteries</a></li>
		<li><a href="#tbWell" data-toggle="tab">Wells</a></li>
		<li class =""><a href="#tbInv" data-toggle="tab">Invest</a></li>
		<li><a href="#tbParm" data-toggle="tab">System</a></li>
	</ul>
	
	<div class="tab-content">
		<div id="tbHome" class="tab-pane">
			<p>Home tab</p>
			<br/>
			<p>This is the section in which individual staffers and contractors will report on tasks/metrics they perform on the site.</p>
			<br/>
			<br/>
			<p>To Do :</p>
			<ul>
				<li> figure out role based authorizations</li>
				<li> figure out how to write data to the data base</li>
				<li> figure out how to use PostgreSql instead of SqlLite</li>
				<li> </li>
				<li> </li>
			</ul>
		</div>
		
		<div id="tbLease" class="tab-pane">
			<p>Leases tab</p>
            <li><a href="{{ url_for('appl', nickname = g.user.nickname) }}">{{ _('Application') }}</a></li>
		</div>	
		
		<div id="tbTank" class="tab-pane">
			<p>Tank Batteries tab</p>
		</div>	
		
		<div id="tbWell" class="tab-pane">
			<p>Wells tab</p>
		</div>	
		
		<div id="tbInv" class="tab-pane">
			<p>Investors tab</p>
		</div>	
		
		<div id="tbParm" class="tab-pane">
			<p>System tab</p>
			{% include 'sysParms.html' %}
		</div>	
	</div>
	
	
	<hr/>

{% endblock %}
