<div class="well">
    <form class="form-horizontal" action="" method="post" name="lease">
        <div class="control-group pull-right">
            <div class="controls">
                <input class="btn btn-primary btn-submit-fontus" type="submit" value="{{ _('Save') }}">
            </div>
        </div>
        {{payload.form.hidden_tag()}}
        <div class="control-group{% if payload.form.errors.post %} error{% endif %}">
            <label class="control-label" for="nick_name">{{ _('Lease nickname:') }}</label>
            <div class="controls">
                {{ payload.form.nick_name(maxlength = 64, class = "span4") }}
                {% for error in payload.form.errors.nick_name %}
                    <span class="help-inline">[{{error}}]</span><br>
                {% endfor %}
            </div>
        </div>
        <div class="control-group{% if payload.form.errors.post %} error{% endif %}">
            <label class="control-label" for="official_id">{{ _('Gummit rec id#:') }}</label>
            <div class="controls">
                {{ payload.form.official_id(cols = 64, rows = 4, class = "span4") }}
                {% for error in payload.form.errors.official_id %}
                    <span class="help-inline">[{{error}}]</span><br>
                {% endfor %}
            </div>
        </div>
        <div class="control-group pull-right">
            <div class="controls">
                <input class="btn btn-primary btn-submit-fontus" type="submit" value="{{ _('Save') }}">
            </div>
        </div>
    </form>
</div>

