<!-- extend base layout -->
{% extends "global/base.html" %}

{% block content %}

	{% include 'global/flash.html' %}

    {% if payload.key is defined %}
		{% include 'users_edit.html' %}
    {% endif %}
    
    <a href="{{ url_for('newuser')}}">{{ _('New') }}</a>
    <div class="pull-right"><a id="deleteLink" href="">{{ _('Delete') }}</a></div>
    
    <script>
    


        var pass = 0;
        var recUserId = {};
        var recUserName = {};
        
            
        function funcDelete() {
            var checkboxes = document.getElementsByName('chkUser');
            var prefix = "user_".length
            var ids = names = "";
            
            pass = 0;
            recUserId = {};
        
            for (var i = 0,  n = checkboxes.length;  i < n ;  i++) {
                if (checkboxes[i].checked)
                {
                    recUserId[pass] = checkboxes[i].id.substring(prefix);
                    names += ", " + recUserName[recUserId[pass]];
                    ids += ", " + recUserId[pass];
                    pass++;
                }
            }
            if (pass > 0) {
                var cut = names.lastIndexOf(",");
                if (pass > 1) {
                    names = names.slice(0, cut) + " &" + names.slice(cut+1)
                }
                // confirm("Definitely delete " + names.substring(2) + "? (" + ids.substring(2) + ")");
            }
            location.assign("/deluser?id=" + ids.substring(2).replace(/\s+/g, ''));
            return false;
        }
    
        $('#deleteLink').click(function(){ funcDelete(); return false; });
        
    </script>

	<h3>{{ _('Users') }}</h3>

    <table class="table table-hover">
	    {% for record in payload.records %}
		    {% include 'users_rcrd.html' %}
	    {% endfor %}
    </table>


{% endblock %}

